:root {
    --primary-color: #f1ba88;
    --secondary-color: #e9f5be;
    --tertiary-color: #81e7af;
    --accent-color: #03a791;
}
form {
    margin: 3rem auto;
    padding: 2.5rem;
    /* border: 1px solid var(--tertiary-color); */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.inputBox {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.inputBox input {
    padding: 2px 5px;
    font-size: 1.3rem;
    width: 430px;
    outline: none;
    border: 1px solid black;
    background: transparent;
}
.inputBox input:focus {
    outline: 2px solid black;
}
form button {
    text-align: center;
    padding: 0.7rem;
    background: var(--accent-color);
    border-radius: 5px;
    transition: all 0.5s;
    border: none;
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
}
